.example-container {
  width: 500px;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.example-tooltip-host {
  display: inline-flex;
  align-items: center;
  margin: 50px;
}

.example-select {
  margin: 0 10px;
}



md-grid-tile {
  background: lightblue;
}